## Testeo

In [1]:
import api_BCRP
import api_BM
import api_FRED
import api_IMF
import api_OECD
import api_YahooFinance

### API del BCRP

In [2]:
consulta = api_BCRP.get_codes(["Interbancario"], grupo=["Tipo", "Cambio"], frecuencia="Mensual")
consulta

,Grupo de serie,Nombre de serie,Frecuencia,Fecha de inicio,Fecha de fin
Código de serie,,,,,
PN01205PM,Tipo de cambio - promedio del periodo (S/ por ...,Interbancario - Compra,Mensual,Abr-1995,Sep-2022
PN01206PM,Tipo de cambio - promedio del periodo (S/ por ...,Interbancario - Venta,Mensual,Abr-1995,Sep-2022
PN01207PM,Tipo de cambio - promedio del periodo (S/ por ...,Interbancario - Promedio,Mensual,Abr-1995,Sep-2022
PN01214PM,Tipo de cambio - fin de periodo (S/ por US$),Interbancario - Compra,Mensual,Abr-1995,Sep-2022
PN01215PM,Tipo de cambio - fin de periodo (S/ por US$),Interbancario - Venta,Mensual,Abr-1995,Sep-2022
PN01216PM,Tipo de cambio - fin de periodo (S/ por US$),Interbancario - Promedio,Mensual,Abr-1995,Sep-2022

In [3]:
df = api_BCRP.get_data({
    "PN01207PM": "TC Interbancario promedio - pdp",
    "PN01205PM": "TC Interbancario compra - pdp",
    "PN01206PM": "TC Interbancario venta - pdp"
    },
    fechaini = "2000-01",
    fechafin = "2022-01"
)

df.head()

,TC Interbancario promedio - pdp,TC Interbancario compra - pdp,TC Interbancario venta - pdp
time,,,
2000-01-01,3.499776,3.498686,3.500867
2000-02-01,3.455024,3.453443,3.456605
2000-03-01,3.442857,3.441504,3.444209
2000-04-01,3.478736,3.477294,3.480178
2000-05-01,3.504061,3.503100,3.505023

In [4]:
metadata = api_BCRP.get_documentation("PN01207PM")
metadata

,Código de serie,Grupo de serie,Nombre de serie,Frecuencia,Fecha de inicio,Fecha de fin
1145,PN01207PM,Tipo de cambio - promedio del periodo (S/ por ...,Interbancario - Promedio,Mensual,Abr-1995,Sep-2022

### API del Banco Mundial

### API de la FRED

### API del IMF

### API de la OCDE

### API de Yahoo Finance

In [5]:
consulta = api_YahooFinance.get_codes(["Tesla"])
consulta

,Name,Country,IPO Year,Sector,Industry
Symbol,,,,,
TSLA,Tesla Inc. Common Stock,United States,2010.0,Consumer Discretionary,Auto Manufacturing

In [6]:
df = api_YahooFinance.get_data({
    "AAPL": "Apple",
    "MSFT": "Microsoft",
    "TSLA": "Tesla"
    }
)

df.tail()

                 Apple   Microsoft       Tesla
Date
2023-01-10  130.729996  228.850006  118.849998
2023-01-11  133.490005  235.770004  123.220001
2023-01-12  133.410004  238.509995  123.559998
2023-01-13  134.759995  239.229996  122.400002
2023-01-17  135.725006  240.059998         NaN

In [7]:
df = api_YahooFinance.get_data({
    "AAPL": "Apple",
    "MSFT": "Microsoft",
    "TSLA": "Tesla"
    },
    fechaini = "2015-01-01",
    fechafin = "2022-12-31"
)

df.tail()

                 Apple   Microsoft       Tesla
Date
2022-12-23  131.860001  238.729996  123.150002
2022-12-27  130.029999  236.960007  109.099998
2022-12-28  126.040001  234.529999  112.709999
2022-12-29  129.610001  241.009995  121.820000
2022-12-30  129.929993  239.820007  123.180000