In [4]:
import pandas as pd
import requests 
import sys

http://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?format=json

In [77]:
def api_BM(countries, indicator, startTime, endTime):
    """
    Importar múltiples series de la API del BM.
    Parámetros
    ----------
    Retorno: 
    --------
    Documentación:
    -------------
    @author: Mauricio Alvarado
             Norbert Andrei Romero Escobedo
    """

    
    keys = list(countries.keys())
    df = pd.DataFrame()
    
    for key in keys:
        url = f'http://api.worldbank.org/v2/country/{key}/indicator/{indicator}?format=json'
         
        response = requests.get(url) 
                
        if response.status_code == 200:
            pass
        else:
            print("Porfavor, revisa los datos ingresados")
            break
    
        response = response.json()
        observations = response[1]
    
        values_list = []
        time_list = []
    
        for obs in observations: 
            values_list.append((obs['value']))
            time_list.append(obs["date"])
    
        dictio = {
            "time": time_list, 
            f"{key}": values_list
        }
        dictio = pd.DataFrame(dictio)
                   
        if df.empty is True:
             df = pd.concat([df, dictio])
        else:
            df = pd.merge(df, dictio, how = "outer")
    
    df.set_index('time', inplace = True)
    df.sort_index(ascending=True, inplace=True)
    df.rename(countries, axis=1, inplace=True)
            
    return df

In [81]:

indicator = 'BX.KLT.DINV.WD.GD.ZS'
startTime = '2000'
endTime = '2021'

countries = {
    "BR": "Brasil",
    "CL": "Chile",
    "PE": "Perú"
    }

api_BM(countries = countries, indicator = indicator, startTime = startTime, endTime = endTime)

        Brasil      Chile      Perú
time
1972  0.787030  -0.009280  0.656331
1973  1.412451  -0.028510  0.869808
1974  1.100146   0.014250  0.450065
1975  1.007712   0.655977  0.480561
1976  1.015219  -0.009669  0.450779
1977  1.039445   0.150399  0.370031
1978  1.001605   1.131962  0.199684
1979  1.092898   1.119076  0.445586
1980  0.804993   0.733554  0.148391
1981  0.976687   1.109827  0.576980
1982  1.072558   1.583360  0.220375
1983  0.848376   0.663196  0.219264
1984  0.846342   0.397502 -0.506129
1985  0.818175   0.815121  0.006043
1986  0.159812   1.670103  0.144317
1987  0.492173   4.001275  0.154572
1988  1.083395   3.716941  0.168400
1989  0.325910   4.294698  0.262227
1990  0.253119   1.996745  0.155242
1991  0.321941   2.174454 -0.020384
1992  0.627994   2.036579 -0.219650
1993  0.350805   2.098066  2.183588
1994  0.584731   4.529331  7.328508
1995  0.631586   4.026029  4.796187
1996  1.475965   6.127463  6.282348
1997  2.150452   6.148918  3.679022
1998  3.340887   5.644004  2.961992
1999  4.733770  11.589243  3.865535
2000  5.033917   6.210892  1.564790
2001  4.147537   5.872392  2.199225
2002  3.253622   3.627466  3.935621
2003  1.813415   5.262875  2.273086
2004  2.713514   6.860421  2.394892
2005  1.733901   6.100813  3.390348
2006  1.753104   4.931219  3.910657
2007  3.190895   7.808475  5.374287
2008  2.990663  10.282062  5.743357
2009  1.888456   8.082908  5.322375
2010  3.729956   7.378758  5.730827
2011  3.915112  10.176121  4.472627
2012  3.755022  11.740668  7.361776
2013  3.041525   8.011284  4.757351
2014  3.571426   9.081561  2.122997
2015  3.592145   8.610073  3.865466
2016  4.137363   4.945322  3.546322
2017  3.338271   2.217293  3.513344
2018  4.077459   2.626804  2.638244
2019  3.692700   4.518054  2.084918
2020  2.608541   3.374387  0.362712
2021  2.886367   4.011621  3.339366

##PORQUE CHUCHA SALE ESTO PORQUE PORQUE PORQUE PORQUE PORQUE PORQUE !!

In [30]:
base = 'http://api.worldbank.org/v2/country/'
countries = 'bra;chl'
indicator = 'BX.KLT.DINV.WD.GD.ZS?MRV=25'
url = f'{base}{countries}/indicators/{indicator}&format=json'
response = requests.get(url) 
response.status_code

response = response.json()[1][0]
response

{'indicator': {'id': 'BX.KLT.DINV.WD.GD.ZS',
  'value': 'Foreign direct investment, net inflows (% of GDP)'},
 'country': {'id': 'BR', 'value': 'Brazil'},
 'countryiso3code': 'BRA',
 'date': '2021',
 'value': 2.88636690274615,
 'unit': '',
 'obs_status': '',
 'decimal': 1}

In [41]:
country = 'CHL'
indicator = 'SP.DYN.LE00.IN'

df = pd.DataFrame()
url = f'http://api.worldbank.org/v2/country/{country}/indicator/{indicator}?format=json'
response = requests.get(url)
        
if response.status_code == 200:
    pass
else:
    print("Porfavor, revisa los datos ingresados")
    sys.exit
    
response = response.json()
observations = response[1]
    
values_list = []
time_list = []
    
for obs in observations: 
    values_list.append((obs['value']))
    time_list.append(obs["date"])
    
dictio = {"time": time_list, f"country": values_list}
df= pd.DataFrame(dictio)

df = df.set_index('time')  
df

      country
time
2021      NaN
2020   79.377
2019   80.326
2018   80.133
2017   80.350
2016   80.079
2015   79.746
2014   79.473
2013   79.339
2012   79.023
2011   79.110
2010   78.501
2009   78.741
2008   78.484
2007   77.826
2006   78.261
2005   78.016
2004   77.616
2003   77.387
2002   77.445
2001   76.773
2000   76.870
1999   76.018
1998   75.669
1997   75.596
1996   74.899
1995   74.609
1994   74.614
1993   74.195
1992   74.135
1991   73.574
1990   72.574
1989   72.467
1988   72.456
1987   72.540
1986   71.810
1985   71.176
1984   70.460
1983   70.011
1982   70.299
1981   69.909
1980   68.840
1979   68.186
1978   68.074
1977   67.402
1976   65.855
1975   66.279
1974   64.901
1973   63.905
1972   62.281