In [1]:
import pandas as pd
import requests 
import sys

http://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?format=json

In [62]:
def api_BM(countries, indicator, startTime, endTime):
    """
    Importar múltiples series de la API del BM (Banco Mundial).
    
    Parámetros
    ----------
    countries: dict
        Diccionario de los códigos y nombres de los países.
        - countries = {
            "BR": "Brasil",
            "CL": "Chile",
            "PE": "Perú"
        }
        
    indicator: str
        
        Código del indicador o serie. 
        Se obtiene de: "https://datos.bancomundial.org/indicator/"
        
        - indicator = 'BX.KLT.DINV.WD.GD.ZS'
        
    startTime: str
        Fecha de inicio de la serie. 
        -Anual: yyyy
        
    endTime: str
        Fecha de fin de la serie. 
        -Anual: yyyy
        
    Retorno: 
    --------
    df: pd.DataFrame
        Países con las series consultadas.    
    
    Documentación:
    -------------
    https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structure
    
    
    @author: Mauricio Alvarado
             Norbert Andrei Romero Escobedo
    """

    
    keys = list(countries.keys())
    df = pd.DataFrame()
    
    for key in keys:
        url = f'http://api.worldbank.org/v2/country/{key}/indicator/{indicator}?format=json'
         
        response = requests.get(url) 
                
        if response.status_code == 200:
            pass
        else:
            print("Porfavor, revisa los datos ingresados")
            break
    
        response = response.json()
        observations = response[1]
    
        values_list = []
        time_list = []
    
        for obs in observations: 
            values_list.append((obs['value']))
            time_list.append(obs["date"])
    
        dictio = {
            "time": time_list, 
            f"{key}": values_list
        }
        dictio = pd.DataFrame(dictio)
                   
        if df.empty is True:
             df = pd.concat([df, dictio])
        else:
            df = pd.merge(df, dictio, how = "outer")
    
    df.set_index('time', inplace = True)
    df.sort_index(ascending=True, inplace=True)
    df.rename(countries, axis=1, inplace=True)
            
    return df
      
def get_codes (search_text):
        
    """Extraer metadatos
    Parámetros
    ----------
    search_text: list
        Dos palabras clave de la consulta. 
        
        -search_text =['life','expectancy']
        
    Retorno: 
    ---------
    df: pd. DataFrame
       Series consultadas
                  
    @author: Mauricio Alvarado
             Norbert Andrei Romero Escobedo  
    """

    formato = ["%20".join(search_text).lower() for i in search_text][0]   
   
    url = f"http://api.worldbank.org/v2/sources/2/search/{formato}?format=json"
    response = requests.get(url) 
    response = response.json()['source'][0]['concept'][1]['variable']#[0]['id']
    
    list_id= []
    list_names= []
    
    
    for i in response: 
        list_id.append(i['id'])
        list_names.append(i['name'])
        
        
    df= pd.DataFrame({
        "id":list_id,
        "title":list_names
    })

    return df

In [64]:
search_text = ['life','expectancy']
get_codes(search_text=search_text)

                   id                                              title
0      SE.SCH.LIFE.FE                Expected years of schooling, female
1      SE.SCH.LIFE.MA                  Expected years of schooling, male
2         SH.DYN.0509  Probability of dying among children ages 5-9 y...
3         SH.DYN.0514  Probability of dying at age 5-14 years (per 1,...
4         SH.DYN.1014  Probability of dying among adolescents ages 10...
5         SH.DYN.1019  Probability of dying among adolescents ages 10...
6         SH.DYN.1519  Probability of dying among adolescents ages 15...
7         SH.DYN.2024  Probability of dying among youth ages 20-24 ye...
8         SH.DYN.MORT    Mortality rate, under-5 (per 1,000 live births)
9      SH.DYN.MORT.FE  Mortality rate, under-5, female (per 1,000 liv...
10     SH.DYN.MORT.MA  Mortality rate, under-5, male (per 1,000 live ...
11        SH.DYN.NMRT   Mortality rate, neonatal (per 1,000 live births)
12        SP.DYN.AMRT           Mortality rate, adult (per 1,000 adults)
13     SP.DYN.AMRT.FE  Mortality rate, adult, female (per 1,000 femal...
14     SP.DYN.AMRT.MA  Mortality rate, adult, male (per 1,000 male ad...
15     SP.DYN.CDRT.IN               Death rate, crude (per 1,000 people)
16  SP.DYN.IMRT.FE.IN  Mortality rate, infant, female (per 1,000 live...
17     SP.DYN.IMRT.IN     Mortality rate, infant (per 1,000 live births)
18  SP.DYN.IMRT.MA.IN  Mortality rate, infant, male (per 1,000 live b...
19  SP.DYN.LE00.FE.IN           Life expectancy at birth, female (years)
20     SP.DYN.LE00.IN            Life expectancy at birth, total (years)
21  SP.DYN.LE00.MA.IN             Life expectancy at birth, male (years)
22  SP.DYN.LE60.FE.IN                  Life expectancy at age 60, female
23  SP.DYN.LE60.MA.IN                    Life expectancy at age 60, male

In [25]:
search_text = ['hola', 'queso']
formato = ["%20".join(search_text).lower() for i in search_text][0]   
formato

'hola%20queso'

In [31]:
url = "http://api.worldbank.org/v2/sources/2/search/solid%20fuel?format=json"
response = requests.get(url) 
response = response.json()['source'][0]['concept'][0]['variable'][0]['id']
#response = response.json()['source'][0]['concept'][0]['variable'][i]
response
# variable = response.get("variable")
# variable

{'id': 'EG.NSF.ACCS.RU.ZS',
 'name': 'Access to non-solid fuel, rural (% of rural population)',
 'metatype': [{'id': 'IndicatorName',
   'value': 'Access to non-solid fuel, rural (% of rural population)'},
  {'id': 'Longdefinition',
   'value': 'Access to non-solid fuel, rural is the percentage of rural population with access to non-solid fuel.'},
  {'id': 'Statisticalconceptandmethodology',
   'value': 'Data for access to Non-Solid Fuel are collected among different sources: only data from nationally representative household surveys (including national censuses) were used. Survey sources include Demographic and Health Surveys (DHS) and Living Standards Measurement Surveys (LSMS), Multi-Indicator Cluster Surveys (MICS), the World Health Survey (WHS), other nationally developed and implemented surveys, and various government agencies (for example, ministries of energy and utilities). To develop the historical evolution of Non-Solid Fuel Use rates, a multi-level non-parametrical mixed model, using both fixed and random effects, was used to derive solid fuel use estimates for 150 countries (ref. Bonjour S, Adair-Rohani H, Wolf J, Bruce NG, Mehta S, Prüss-Ustün A, Lahiff M, Rehfuess EA, Mishra V, Smith KR. Solid Fuel Use for Household Cooking: Country and Regional Estimates for 1980-2010. Environ Health Perspect (): .doi:10.1289/ehp.1205987.). For a country with no data, estimates are derived by using regional trends or assumed to be universal access if a country is classified as developed by the United Nations.'}]}

In [13]:
variable

In [3]:

indicator = 'BX.KLT.DINV.WD.GD.ZS'
startTime = '2000'
endTime = '2021'

countries = {
    "BR": "Brasil",
    "CL": "Chile",
    "PE": "Perú"
    }

api_BM(countries = countries, indicator = indicator, startTime = startTime, endTime = endTime)

        Brasil      Chile      Perú
time
1972  0.787030  -0.009280  0.656331
1973  1.412451  -0.028510  0.869808
1974  1.100146   0.014250  0.450065
1975  1.007712   0.655977  0.480561
1976  1.015219  -0.009669  0.450779
1977  1.039445   0.150399  0.370031
1978  1.001605   1.131962  0.199684
1979  1.092898   1.119076  0.445586
1980  0.804993   0.733554  0.148391
1981  0.976687   1.109827  0.576980
1982  1.072558   1.583360  0.220375
1983  0.848376   0.663196  0.219264
1984  0.846342   0.397502 -0.506129
1985  0.818175   0.815121  0.006043
1986  0.159812   1.670103  0.144317
1987  0.492173   4.001275  0.154572
1988  1.083395   3.716941  0.168400
1989  0.325910   4.294698  0.262227
1990  0.253119   1.996745  0.155242
1991  0.321941   2.174454 -0.020384
1992  0.627994   2.036579 -0.219650
1993  0.350805   2.098066  2.183588
1994  0.584731   4.529331  7.328508
1995  0.631586   4.026029  4.796187
1996  1.475965   6.127463  6.282348
1997  2.150452   6.148918  3.679022
1998  3.340887   5.644004  2.961992
1999  4.733770  11.589243  3.865535
2000  5.033917   6.210892  1.564790
2001  4.147537   5.872392  2.199225
2002  3.253622   3.627466  3.935621
2003  1.813415   5.262875  2.273086
2004  2.713514   6.860421  2.394892
2005  1.733901   6.100813  3.390348
2006  1.753104   4.931219  3.910657
2007  3.190895   7.808475  5.374287
2008  2.990663  10.282062  5.743357
2009  1.888456   8.082908  5.322375
2010  3.729956   7.378758  5.730827
2011  3.915112  10.176121  4.472627
2012  3.755022  11.740668  7.361776
2013  3.041525   8.011284  4.757351
2014  3.571426   9.081561  2.122997
2015  3.592145   8.610073  3.865466
2016  4.137363   4.945322  3.546322
2017  3.338271   2.217293  3.513344
2018  4.077459   2.626804  2.638244
2019  3.692700   4.518054  2.084918
2020  2.608541   3.374387  0.362712
2021  2.886367   4.011621  3.339366

##PORQUE CHUCHA SALE ESTO PORQUE PORQUE PORQUE PORQUE PORQUE PORQUE !!

In [30]:
base = 'http://api.worldbank.org/v2/country/'
countries = 'bra;chl'
indicator = 'BX.KLT.DINV.WD.GD.ZS?MRV=25'
url = f'{base}{countries}/indicators/{indicator}&format=json'
response = requests.get(url) 
response.status_code

response = response.json()[1][0]
response

{'indicator': {'id': 'BX.KLT.DINV.WD.GD.ZS',
  'value': 'Foreign direct investment, net inflows (% of GDP)'},
 'country': {'id': 'BR', 'value': 'Brazil'},
 'countryiso3code': 'BRA',
 'date': '2021',
 'value': 2.88636690274615,
 'unit': '',
 'obs_status': '',
 'decimal': 1}

In [41]:
country = 'CHL'
indicator = 'SP.DYN.LE00.IN'

df = pd.DataFrame()
url = f'http://api.worldbank.org/v2/country/{country}/indicator/{indicator}?format=json'
response = requests.get(url)
        
if response.status_code == 200:
    pass
else:
    print("Porfavor, revisa los datos ingresados")
    sys.exit
    
response = response.json()
observations = response[1]
    
values_list = []
time_list = []
    
for obs in observations: 
    values_list.append((obs['value']))
    time_list.append(obs["date"])
    
dictio = {"time": time_list, f"country": values_list}
df= pd.DataFrame(dictio)

df = df.set_index('time')  
df

      country
time
2021      NaN
2020   79.377
2019   80.326
2018   80.133
2017   80.350
2016   80.079
2015   79.746
2014   79.473
2013   79.339
2012   79.023
2011   79.110
2010   78.501
2009   78.741
2008   78.484
2007   77.826
2006   78.261
2005   78.016
2004   77.616
2003   77.387
2002   77.445
2001   76.773
2000   76.870
1999   76.018
1998   75.669
1997   75.596
1996   74.899
1995   74.609
1994   74.614
1993   74.195
1992   74.135
1991   73.574
1990   72.574
1989   72.467
1988   72.456
1987   72.540
1986   71.810
1985   71.176
1984   70.460
1983   70.011
1982   70.299
1981   69.909
1980   68.840
1979   68.186
1978   68.074
1977   67.402
1976   65.855
1975   66.279
1974   64.901
1973   63.905
1972   62.281